---
import DiagramDocSelect from "@/components/DiagramDocSelect.astro";
import { diagrams } from "@/data/mockdata";
import MainLayout from "@layouts/MainLayout.astro";
const mermaidDiagram = `flowchart LR
            A[Hard] -->|Text| B(Round)
            B --> C{Decision}
            C -->|One| D[Result 1]
            C -->|Two| E[Result 2]`;
---

<MainLayout title="project">
  <div class="layout-container flex h-full grow flex-col">
    <div class="gap-1 px-6 flex flex-1 justify-center py-5">
      <div class="layout-content-container flex flex-col w-80">
        <div
          class="flex h-full min-h-[700px] flex-col justify-between bg-[#101a23] p-4"
        >
          <div class="flex flex-col gap-4">
            <h1 class="text-white text-base font-medium leading-normal">
              Project Docs
            </h1>
            <div class="flex flex-col gap-2">
              {
                diagrams.map((diagram) => (
                  <DiagramDocSelect
                    id={diagram.id}
                    name={diagram.name}
                    icon={diagram.icon}
                    path={diagram.path}
                    href={`/projects/diagram/${diagram.name}`}
                  />
                ))
              }
              <div class="flex items-center gap-3 px-3 py-2">
                <div
                  class="text-white"
                  data-icon="Note"
                  data-size="24px"
                  data-weight="regular"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24px"
                    height="24px"
                    fill="currentColor"
                    viewBox="0 0 256 256"
                  >
                    <path
                      d="M88,96a8,8,0,0,1,8-8h64a8,8,0,0,1,0,16H96A8,8,0,0,1,88,96Zm8,40h64a8,8,0,0,0,0-16H96a8,8,0,0,0,0,16Zm32,16H96a8,8,0,0,0,0,16h32a8,8,0,0,0,0-16ZM224,48V156.69A15.86,15.86,0,0,1,219.31,168L168,219.31A15.86,15.86,0,0,1,156.69,224H48a16,16,0,0,1-16-16V48A16,16,0,0,1,48,32H208A16,16,0,0,1,224,48ZM48,208H152V160a8,8,0,0,1,8-8h48V48H48Zm120-40v28.7L196.69,168Z"
                    ></path>
                  </svg>
                </div>
                <p class="text-white text-sm font-medium leading-normal">
                  User Stories
                </p>
              </div>
              <div class="flex items-center gap-3 px-3 py-2">
                <div
                  class="text-white"
                  data-icon="Calendar"
                  data-size="24px"
                  data-weight="regular"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24px"
                    height="24px"
                    fill="currentColor"
                    viewBox="0 0 256 256"
                  >
                    <path
                      d="M208,32H184V24a8,8,0,0,0-16,0v8H88V24a8,8,0,0,0-16,0v8H48A16,16,0,0,0,32,48V208a16,16,0,0,0,16,16H208a16,16,0,0,0,16-16V48A16,16,0,0,0,208,32ZM72,48v8a8,8,0,0,0,16,0V48h80v8a8,8,0,0,0,16,0V48h24V80H48V48ZM208,208H48V96H208V208Zm-96-88v64a8,8,0,0,1-16,0V132.94l-4.42,2.22a8,8,0,0,1-7.16-14.32l16-8A8,8,0,0,1,112,120Zm59.16,30.45L152,176h16a8,8,0,0,1,0,16H136a8,8,0,0,1-6.4-12.8l28.78-38.37A8,8,0,1,0,145.07,132a8,8,0,1,1-13.85-8A24,24,0,0,1,176,136,23.76,23.76,0,0,1,171.16,150.45Z"
                    ></path>
                  </svg>
                </div>
                <p class="text-white text-sm font-medium leading-normal">
                  Gantt
                </p>
              </div>
              <div class="flex items-center gap-3 px-3 py-2">
                <div
                  class="text-white"
                  data-icon="Kanban"
                  data-size="24px"
                  data-weight="regular"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24px"
                    height="24px"
                    fill="currentColor"
                    viewBox="0 0 256 256"
                  >
                    <path
                      d="M216,48H40a8,8,0,0,0-8,8V208a16,16,0,0,0,16,16H88a16,16,0,0,0,16-16V160h48v16a16,16,0,0,0,16,16h40a16,16,0,0,0,16-16V56A8,8,0,0,0,216,48ZM88,208H48V128H88Zm0-96H48V64H88Zm64,32H104V64h48Zm56,32H168V128h40Zm0-64H168V64h40Z"
                    ></path>
                  </svg>
                </div>
                <p class="text-white text-sm font-medium leading-normal">
                  Kanban
                </p>
              </div>
            </div>
          </div>
          <button
            class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-10 px-4 bg-[#0c7ff2] text-white text-sm font-bold leading-normal tracking-[0.015em]"
          >
            <span class="truncate">New Doc</span>
          </button>
        </div>
      </div>
      <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
        <div class="flex flex-wrap justify-between gap-3 p-4">
          <p
            class="text-white tracking-light text-[32px] font-bold leading-tight min-w-72"
          >
            ERD
          </p>
        </div>
        <p
          class="text-white text-base font-normal leading-normal pb-3 pt-1 px-4"
        >
          <pre class="mermaid">
            {mermaidDiagram}
    </pre>
        </p>
      </div>
    </div>
  </div>
</MainLayout>

<script>
  import mermaid from "mermaid";

  function handleMermaid() {
    mermaid.initialize({ startOnLoad: true });
    mermaid.run();
  }

  document.addEventListener("astro:page-load", handleMermaid);
</script>
