---
import type { Project } from "@/types/Project";
import { Image } from "astro:assets";
import { resolveProjectImageSrc } from "@/utils/project";
const { project: Project, href } = Astro.props;
---

<a
  href={href}
  class="flex flex-col gap-3 pb-3"
  data-project-card
  data-project-name={Project.name}
  data-project-description={Project.description}
>
  <Image
    class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg"
    src={resolveProjectImageSrc(Project.image)}
    alt={Project.name}
    width={100}
    height={100}
  />

  <div>
    <p class="text-white text-base font-medium leading-normal">
      {Project.name}
    </p>
    <p class="text-[#90adcb] text-sm font-normal leading-normal">
      Last Modified: {Project.updatedAt}
    </p>
  </div>
</a>
